<!DOCTYPE html>
<html>
  <head>
    <title>Home</title>
    <meta charset="utf-8">
  </head>
  <body>
    <%- include('partials/header'); %>
    <h1>Welcome to the home page</h1>
    <%- include('partials/footer'); %>
  </body>